---
// Footer component
---

<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-item">
                <span>Github:</span>
                <a href="https://github.com/easylive1989" target="_blank">@easylive1989</a>
            </div>
            <div class="footer-item">
                <span>Threads:</span>
                <a href="https://www.threads.com/@paul.ch.wu" target="_blank">@paul.ch.wu</a>
            </div>
        </div>
    </div>
</footer>
